<.flash_group flash={@flash} />
<div class="w-screen h-screen flex flex-col justify-center">
  <div class="flex justify-center">
    <div class="w-fit text-center">
      <img src={~p"/images/skool.svg"} class="mb-4" />
      <.link navigate={~p"/courses"} class="text-xl hover:text-brand">
        My Tasks <.icon name="hero-arrow-right-solid" class="h-3 w-3" />
      </.link>
    </div>
  </div>
</div>
